.App {
    text-align: center;
    background-color: whitesmoke;
}

.Content {
    display: inline-grid;
    grid-template: 70%;
    position: center;
    background-color: white;
}

p {

}

/* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (min-width: 1440px) {
    .Content {
        font-size: 2vw;
        font-size: 2vh;
        margin-left: 15%;
        margin-right: 15%;
    }
}
/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1439px) {
    .Content {
        font-size: 2.3vw;
        font-size: 1.2vh
    }
}
h1{
    font-size: 2.1vw;
}

html {
    scroll-behavior: smooth;
}

.Section {
    margin-bottom: 12%;
    Height: auto;
    position: relative;
    width: auto;
}


input {
    margin-bottom: 10%;
}

