.App {
    text-align: center;
    background-color: whitesmoke;
}

.Content {
    display: inline-grid;
    position: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 100vh;
}

p {

}

/* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (min-width: 901px) {
    .Content {
        margin-left: 15%;
        margin-right: 15%;
        min-width: 70%;
    }

}
/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 900px) {
    .Content {


    }
    .Section{

    }
}
h1{
    font-size: 2.1vw;
}

html {
    scroll-behavior: smooth;
}

.Section {
    margin-bottom: 12%;
    Height: auto;
    position: relative;
    width: auto;
}


input {
    margin-bottom: 10%;
}

.reveal {
    position: relative;
    transform: translateY(40px);
    opacity: 0;
    transition: 1.5s all ease;
}

    .reveal.active {
        transform: translateY(0);
        opacity: 1;
    }
