.Contactbox {
    height: auto;
}

.formitems {
    display: inline-grid;
    grid-gap: 10px;
    grid-row-gap: 30px;
}

@media (max-width: 1439px) {

}

@media (min-width: 1439px) {
    .Contactbox {
        outline-style: solid;
    }
}

