.giticon{
    width: 100%;
    height: 100%;
}
.gittextbox > p{
    color: black;
    text-align: left;
    text-decoration: none;
}
.gittextbox > h2 {
    color: black;
}

.gittextbox :link{
    text-decoration: none;
    color: black;
}

.gittextbox :visited {
    text-decoration: none;
    color: black;
}

.gittextbox :hover {
    text-decoration: none;
    color: black;
}

.gittextbox :active {
    text-decoration: none;
    color: black !important;
}

.gitbox{
    text-align: left;
}