.giticon{
    width: 100%;
    height: 100%;
}

@media (min-width: 901px) {
    .gittextbox {
        font-size: 2rem;
    }

        .gittextbox > h2 {
            font-size: 3rem;
        }
}
/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 900px) {
    .gittextbox{
        font-size: 0.8rem;
    }
}

    .gittextbox > p {
        color: black;
        text-align: left;
        text-decoration: none;
    }

    .gittextbox > h2 {
        color: black;
    }

    .gittextbox :link {
        text-decoration: none;
        color: black;
    }

    .gittextbox :visited {
        text-decoration: none;
        color: black;
    }

    .gittextbox :hover {
        text-decoration: none;
        color: black;
    }

    .gittextbox :active {
        text-decoration: none;
        color: black !important;
    }

    .gitbox {
        text-align: left;
    }