
.redirbutt {
    background-color: white;
    border-radius: 12px;
    cursor: pointer;
    transition: 300ms;
    width: 60%;
    box-sizing: border-box;
    border: 0;
    font-size: 1.2vw;
    font-size: 1.2vh;
    margin-bottom: 6%;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: auto;
}

.butttext{
    font-size: 2vh;
}

.redirbutt:not(:disabled):hover {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.redirbutt:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}
.Navbarbox {
    height: 100%; 
    width: 0px;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s; 
    z-index: 3;
    max-width: 600px;
}

.hoverindic {
    line-height: 5vi;
    opacity: 0.90;
    color: white;
    user-select: none;
    font-size: 2vh;
}
.hoverbox {
    position: fixed;
    width: 14%;
    height: 100%;
    z-index: 2;
}

.homeButt {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 4%;
}

.homeText {
    color: white;
    display: inline-block;
}

    .homeText:hover {
        color: yellow;
        transition: color 1.5s ease;
    }

    .homeText:visited {
        text-decoration: none;
    }

    .homeText:active {
        text-decoration: none;
    }

    .homeText:link {
        text-decoration: none;
    }

.homeElements {
    padding: 1rem 1rem;
    text-align: center;
}

.hoverbutt{

    float:left;

}

@media (min-width: 1440px) {
    .hoverbutt {
        width: 70%;
        border-radius: 0% !important;
    }
}
/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1439px) {
    .hoverbutt {
    
    }
}
