


.projTitle{
    color: white;
    margin-bottom: 4% !important;
}

.projText{
    color: white;
    text-align: left;

}

@media (max-width: 1023px) {
    .projText {
        font-size: 1.4vh;
    }
    .projTitle {
        font-size: 2.4vh !important;
    }
    .projimg {
        height: 50vi;
    }
    .buttlink{
        font-size: 1.2vh;
    }
}

@media (min-width: 1024px) {
    .projText {
        font-size: 2.3vh;
    }
    .projTitle {
        font-size: 4vh !important;
    }
    .projbutt{

    }
    .projimg {
        height: 25vi;
    }
    .buttlink {
        font-size: 2vh;
    }
}

.projbutt {
    height: auto;
    position: relative;
    border: none !important;
    outline: none !important;
    cursor: pointer !important;
    transition: background-color 0.8s ease !important;
    float: right;
}

    .projbutt:hover {
        background-color: #000000 !important;
        color: #ffffff !important;
    }

        .projbutt:hover > .buttlink {
            color: white;
            transition: color 0.8s ease !important;
        }

    .buttlink{
        color: black;
    }



    .buttlink:visited {
        text-decoration: none;
    }

    .buttlink:active {
        text-decoration: none;
    }

    .buttlink:link {
        text-decoration: none;
    }

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
}


