


.projTitle{
    color: white;
    font-size: 4vh !important;

}

.projText{
    color: white;

}

.projbutt {
    height: auto;
    position: relative;
    border: none !important;
    outline: none !important;
    cursor: pointer !important;
    transition: background-color 0.8s ease !important;
}

    .projbutt:hover {
        background-color: #000000 !important;
        color: #ffffff !important;
    }

        .projbutt:hover > .buttlink {
            color: white;
            transition: color 0.8s ease !important;
        }

    .buttlink{
        color: black;
        font-size: 2vh;
    }



    .buttlink:visited {
        text-decoration: none;
    }

    .buttlink:active {
        text-decoration: none;
    }

    .buttlink:link {
        text-decoration: none;
    }

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

