.innertext{
    font-size: 1.5vh;

}

.skillColumn{
    text-align: left;
    padding: 2%;
}

.skillColumn > h2 {
    font-size: 2rem;
}

.skillsheader{
    font-size: 4rem !important;
    margin-bottom: 4%;
}