.innertext{
    font-size: 1.5vh;

}

.skillColumn{
    text-align: left;
    padding: 2%;
}

.skillColumn > h2 {
    font-size: 0.9vi;
    font-size: 2vh;
}

.skillsheader{
    font-size: 4vh !important;
    margin-bottom: 4%;
}