.innertext{
    font-size: 1.5vh;
    margin-left: 5%;
}

.skillColumn{
    display: inline-grid;
    text-align: left;
}

.skillColumn > h2 {
    font-size: 0.9vi;
    margin-top: 5%;
    font-size: 2vh;
}